@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body html{
    font-family: monospace;
}
                   /* HEADER */
#header {
    position: absolute;
    top:0;
    left:0;
    width:80%;
    padding:0 10%;
    border-bottom: 1px solid rgba(115, 114, 114, 0.2);
    display: flex;
    align-items: center;
    color:#eee;
    z-index: 1;
}

#header .logo img{
   width: 100px;
}

#nav-header {
    display: flex;
    align-items: center;
     
}

#nav-header li{
    list-style: none;
    margin: 0 50px;
    font-size: 20px;
}

#nav-header li a{
    color: #fff;
    text-decoration: none;
    line-height: 80px;
    padding: 0 24px;
    display: inline-block;
}

#banner{
    height: 110vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#banner::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: url(../img/banner.avif) no-repeat top left / cover;
    background-attachment: fixed;
    z-index: -1;
}

#banner .title{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20vh;
    font-family: 'Great Vibes', cursive;
}

#banner .title1{
    position: absolute;
    top: 60%;
    right: 15%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20vh;
    font-family: 'Great Vibes', cursive;
}


#banner img{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,10%);
    width: 50%;
    filter: brightness(0.75);
}

#banner::after{
    position: absolute;
    left: 0;
    top: 100vh;
    width: 100%;
    height: 10vh;
    background-image: url(https://livedemo00.template-help.com/wt_prod-20838/images/cloud-2.png);
    background-size: 100%;
    content: '';
    filter: brightness(0.88);
    box-shadow: 2px;
}
                        /* CONTAINER */
#container{
    height: 600px;
}

#container-slide{
    position: absolute;
    width:100%;
    height:600px;
    padding:50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
    overflow: hidden;
}

#silde{
width: 100%;
margin-top: 50px;
}

.slide-item{
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;
}

.slide-item:nth-child(1),
.slide-item:nth-child(2){
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}
.slide-item:nth-child(3){
    left: 50%;
}
.slide-item:nth-child(4){
    left: calc(50% + 215px);
}
.slide-item:nth-child(5){
    left: calc(50% + 430px);
}
.slide-item:nth-child(n+6){
    left: calc(50% + 655px);
    opacity: 0;
}

.slide-content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0,-50%);
    display: none;
    font-family: 'Great Vibes', cursive;
}
.slide-item:nth-child(2) .slide-content{
    display: block;
    z-index: 111111;
}
.slide-item .slide-name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
    text-shadow: 1px 1px 1px #000;

}
.slide-item .slide-des{
    margin: 16px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
    text-shadow: 1px 1px 1px #000;
}
.slide-item .btn-slide{
    padding: 10px 20px;
    border: none;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}

.slide-btn{
    position: absolute;
    bottom:30px;
    z-index: 222222;
    text-align: center;
    width:100%;
}
.slide-btn button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
    cursor: pointer;
}
.slide-btn button:hover{
    background-color: #bac383;
}
                        /* CONTACT-FOOTER  */
#footer{
    background-color: #eee;
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list{
    font-size: 32px;
}
#footer .social-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
#footer .copyright a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    padding-top: 16px;
    color: rgba(0, 0, 0, 0.5);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}